mixin controlpanel(options)
 .control-panel
  label='MIN'
   input(type="text" name="min" placeholder="min")
  label='MAX'
   input(type="text" name="max" placeholder="max")
  label='FROM'
   input(type="text" name="from" placeholder="from")
  label='TO'
   input(type="text" name="to" placeholder="to")
  label='IS_RANGE'
   input(type="checkbox", name="isRange")
  label='IS_VERTICAL'
   input(type="checkbox", name="isVertical")
  label='HIDE_THUMB_LABEL'
   input(type="checkbox", name="hideThumbLabel")
  
