mixin control-panel(options)
  .control-panel
    form(class="control-panel__form js-control-panel__form js-control-panel__form_"+options.id action="#")
      label='MIN'
        input(type="number" name="min" placeholder="min" class='js-control-panel__min-'+options.id)
      label='MAX'
        input(type="number" name="max" placeholder="max" class='js-control-panel__max-'+options.id)
      label='FROM'
        input(type="number" name="from" placeholder="from" class='js-control-panel__from-'+options.id)
      label='TO'
        input(type="number" name="to" placeholder="to" class='js-control-panel__to-'+options.id)
      label='STEP'
        input(type="number" name="step" placeholder="step" class='js-control-panel__step-'+options.id)
      label='HIDE_THUMB_LABEL'
        input(type="checkbox", name="hideThumbLabel" class='js-control-panel__hide-thumb-label-'+options.id)
      label='IS_ VERTICAL'
        input(type="checkbox", name="isVertical" class='js-control-panel__is-vertical-'+options.id)
